@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Application to manage sales.</p>

<address>
    <strong>More information: </strong>
    <a href="https://github.com/lorenlmartins/sales-web-mvc.git">Github Repository</a>
</address>