@model SalesWebMvc.Models.Department
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
<dl class="row">
    <dt class="col-sm-2">Name:</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
</dl>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
